In [1]:
import pandas as pd
import numpy as np
from ast import literal_eval

In [2]:
df_main = pd.read_csv('books.csv')
df_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49952 entries, 0 to 49951
Data columns (total 37 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         49952 non-null  int64
 1   title_english      49435 non-null  object
 2   title_persian      49952 non-null  object
 3   book_bio           19426 non-null  object
 4   off_percent        37979 non-null  float64
 5   current_price      49952 non-null  float64
 6   rate               49952 non-null  float64
 7   status             49952 non-null  int64
 8   publisher_name     49952 non-null  object
 9   publisher_id       49952 non-null  int64
 10  publisher_link     49952 non-null  object
 11  writer_name        49537 non-null  object
 12  writer_id          49537 non-null  object
 13  writer_link        49537 non-null  object
 14  ids_book           49952 non-null  int64
 15  ids_translations   27442 non-null  object
 16  link_translations  27442 non-null  object
 17  translations       27442 non-null  object
 18  shabak             49876 non-null  object
 19  pices              49828 non-null  object
 20  pages              49724 non-null  object
 21  sunny_date         49528 non-null  object
 22  monthy_date        27439 non-null  object
 23  types              49823 non-null  object
 24  seriess            49522 non-null  object
 25  reciving_time      38057 non-null  object
 26  descriptions       39181 non-null  object
 27  book_tags          49952 non-null  object
 28  ids_tags           49952 non-null  object
 29  english_dialogs    6146 non-null   object
 30  persian_dialogs    6146 non-null   object
 31  authors            6146 non-null   object
 32  pleasure_text      13123 non-null  object
 33  copies             716 non-null    float64
 34  type_copies        23 non-null     object
 35  language           1389 non-null   object
 36  Unnamed: 36        0 non-null      float64
dtypes: float64(5), int64(4), object(28)
memory usage: 14.1+ MB

C:\Users\Mahdi\AppData\Local\Temp\ipykernel_21316\2887132658.py:1: DtypeWarning: Columns (20,21,22,24,34) have mixed types. Specify dtype option on import or set low_memory=False.
  df_main = pd.read_csv('books.csv')

In [3]:
df_edited = df_main.drop_duplicates('ids_book').drop(['Unnamed: 0', 'Unnamed: 36'], axis= 1)
df_edited.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49771 entries, 0 to 49951
Data columns (total 35 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title_english      49258 non-null  object
 1   title_persian      49771 non-null  object
 2   book_bio           19346 non-null  object
 3   off_percent        37809 non-null  float64
 4   current_price      49771 non-null  float64
 5   rate               49771 non-null  float64
 6   status             49771 non-null  int64
 7   publisher_name     49771 non-null  object
 8   publisher_id       49771 non-null  int64
 9   publisher_link     49771 non-null  object
 10  writer_name        49356 non-null  object
 11  writer_id          49356 non-null  object
 12  writer_link        49356 non-null  object
 13  ids_book           49771 non-null  int64
 14  ids_translations   27321 non-null  object
 15  link_translations  27321 non-null  object
 16  translations       27321 non-null  object
 17  shabak             49695 non-null  object
 18  pices              49647 non-null  object
 19  pages              49543 non-null  object
 20  sunny_date         49347 non-null  object
 21  monthy_date        27313 non-null  object
 22  types              49642 non-null  object
 23  seriess            49344 non-null  object
 24  reciving_time      37886 non-null  object
 25  descriptions       39085 non-null  object
 26  book_tags          49771 non-null  object
 27  ids_tags           49771 non-null  object
 28  english_dialogs    6141 non-null   object
 29  persian_dialogs    6141 non-null   object
 30  authors            6141 non-null   object
 31  pleasure_text      13107 non-null  object
 32  copies             707 non-null    float64
 33  type_copies        22 non-null     object
 34  language           1363 non-null   object
dtypes: float64(4), int64(3), object(28)
memory usage: 13.7+ MB

<h3>Fixing Publish Year</h3>

In [4]:
df_edited['sunny_date'] = df_edited['sunny_date'].str.extract(r'(\d+)', expand=False)
df_edited['sunny_date'] = pd.to_numeric(df_edited['sunny_date'], errors='coerce').fillna(np.nan)
df_edited['monthy_date'] = df_edited['monthy_date'].str.extract(r'(\d+)', expand=False)
df_edited['monthy_date'] = pd.to_numeric(df_edited['monthy_date'], errors='coerce').fillna(np.nan)
df_edited['monthy_date'].info()

<class 'pandas.core.series.Series'>
Index: 49771 entries, 0 to 49951
Series name: monthy_date
Non-Null Count  Dtype
--------------  -----
26927 non-null  float64
dtypes: float64(1)
memory usage: 777.7 KB

### Fixing Another Title

In [5]:
df_edited['shabak'] = df_edited['shabak'].str.extract(r'(\d+-?\d+)', expand=False)
df_edited['shabak'] = df_edited['shabak'].fillna(np.nan)
df_edited['shabak'].info()

<class 'pandas.core.series.Series'>
Index: 49771 entries, 0 to 49951
Series name: shabak
Non-Null Count  Dtype
--------------  -----
49688 non-null  object
dtypes: object(1)
memory usage: 777.7+ KB

### Pages and Pices

In [6]:
pages = df_edited['pages'].str.extract('(\d+)', expand=False)
pages = pd.to_numeric(pages, errors='coerce').fillna(np.nan)
df_edited['pages'] = np.where(pages.notnull(), pages, df_edited['pages'])
df_edited['pages'] = df_edited['pages'].astype(float)
df_edited['pages'].info()

<class 'pandas.core.series.Series'>
Index: 49771 entries, 0 to 49951
Series name: pages
Non-Null Count  Dtype
--------------  -----
49543 non-null  float64
dtypes: float64(1)
memory usage: 777.7 KB

### Series

In [7]:
df_edited['seriess'] = pd.to_numeric(df_edited['seriess'], errors='coerce').fillna(np.nan)
df_edited['seriess'].info()

<class 'pandas.core.series.Series'>
Index: 49771 entries, 0 to 49951
Series name: seriess
Non-Null Count  Dtype
--------------  -----
49343 non-null  float64
dtypes: float64(1)
memory usage: 777.7 KB

### Itration Values

In [8]:
iter_val = df_edited[['writer_name', 'writer_id', 'writer_link', 'translations', 'ids_translations', 'book_tags', 'ids_tags', 'english_dialogs', 'persian_dialogs', 'authors', 'pleasure_text']]

In [9]:
iter_val = iter_val.replace(np.nan, "[None]")
iter_val.head()

,writer_name,writer_id,writer_link,translations,ids_translations,book_tags,ids_tags,english_dialogs,persian_dialogs,authors,pleasure_text
0,['ماکسیم گورکی'],['3766'],['/profile/3766-maxim-gorky'],['سعید نفیسی'],['3026'],"['ادبیات داستانی', 'ادبیات کلاسیک', 'ادبیات رو...","[103, 134, 152, 207, 356]",[None],[None],[None],[None]
1,['سالومه طهرانی'],['70649'],['/profile/70649-%d8%b3%d8%a7%d9%84%d9%88%d9%8...,[None],[None],"['ادبیات داستانی', 'ادبیات معاصر', 'جدید ترین ...","[103, 105, 207, 265, 356, 437]",[None],[None],[None],[None]
2,['فرزاد عزیزی کدخدایی'],['70650'],['/profile/70650-%d9%81%d8%b1%d8%b2%d8%a7%d8%a...,[None],[None],"['ادبیات داستانی', 'داستان کوتاه', 'ادبیات ایر...","[103, 356, 437]",[None],[None],[None],[None]
3,['کاترین مک کنزی'],['17650'],['/profile/17650-catherine-mckenzie'],['افسانه محمدپور'],[None],"['ادبیات کانادا', 'داستان ماجرایی', 'داستان مع...","[19, 21, 24, 103, 105, 182, 801]",[None],[None],[None],[None]
4,['یاسر موحدفرد'],['28925'],['/profile/28925-%db%8c%d8%a7%d8%b3%d8%b1-%d9%...,[None],[None],"['ادبیات اقتباسی', 'ادبیات داستانی', 'ادبیات م...","[20, 103, 105, 114, 207, 265, 437, 539]",[None],[None],[None],[None]

In [10]:
for col in iter_val.columns:
    iter_val[col] = iter_val[col].apply(literal_eval)
iter_val.head()

,writer_name,writer_id,writer_link,translations,ids_translations,book_tags,ids_tags,english_dialogs,persian_dialogs,authors,pleasure_text
0,[ماکسیم گورکی],[3766],[/profile/3766-maxim-gorky],[سعید نفیسی],[3026],"[ادبیات داستانی, ادبیات کلاسیک, ادبیات روسیه, ...","[103, 134, 152, 207, 356]",[None],[None],[None],[None]
1,[سالومه طهرانی],[70649],[/profile/70649-%d8%b3%d8%a7%d9%84%d9%88%d9%85...,[None],[None],"[ادبیات داستانی, ادبیات معاصر, جدید ترین کتاب ...","[103, 105, 207, 265, 356, 437]",[None],[None],[None],[None]
2,[فرزاد عزیزی کدخدایی],[70650],[/profile/70650-%d9%81%d8%b1%d8%b2%d8%a7%d8%af...,[None],[None],"[ادبیات داستانی, داستان کوتاه, ادبیات ایران]","[103, 356, 437]",[None],[None],[None],[None]
3,[کاترین مک کنزی],[17650],[/profile/17650-catherine-mckenzie],[افسانه محمدپور],[None],"[ادبیات کانادا, داستان ماجرایی, داستان معمایی,...","[19, 21, 24, 103, 105, 182, 801]",[None],[None],[None],[None]
4,[یاسر موحدفرد],[28925],[/profile/28925-%db%8c%d8%a7%d8%b3%d8%b1-%d9%8...,[None],[None],"[ادبیات اقتباسی, ادبیات داستانی, ادبیات معاصر,...","[20, 103, 105, 114, 207, 265, 437, 539]",[None],[None],[None],[None]

In [11]:
df_edited[['writer_name', 'writer_id', 'writer_link', 'translations', 'ids_translations', 'book_tags', 'ids_tags', 'english_dialogs', 'persian_dialogs', 'authors', 'pleasure_text']] = iter_val
df_edited.head()

,title_english,title_persian,book_bio,off_percent,current_price,rate,status,publisher_name,publisher_id,publisher_link,...,descriptions,book_tags,ids_tags,english_dialogs,persian_dialogs,authors,pleasure_text,copies,type_copies,language
0,Супруги Орловы,کتاب فروافتادگان,NaN,20.0,67600.0,3.71,1,ارس,2787,/publisher/2787-%d8%a7%d8%b1%d8%b3,...,NaN,"[ادبیات داستانی, ادبیات کلاسیک, ادبیات روسیه, ...","[103, 134, 152, 207, 356]",[None],[None],[None],[None],NaN,NaN,NaN
1,Darbast Monirie,کتاب دربست منیریه,NaN,20.0,100000.0,3.43,1,دید,4450,/publisher/4450-%d8%af%db%8c%d8%af,...,NaN,"[ادبیات داستانی, ادبیات معاصر, جدید ترین کتاب ...","[103, 105, 207, 265, 356, 437]",[None],[None],[None],[None],NaN,NaN,NaN
2,Scarecrow,کتاب مترسک,NaN,NaN,69000.0,3.82,0,گیوا,2238,/publisher/2238-%da%af%db%8c%d9%88%d8%a7,...,جزء به جزء مترسک پیر، از کلاهش گرفته تا کت و ش...,"[ادبیات داستانی, داستان کوتاه, ادبیات ایران]","[103, 356, 437]",[None],[None],[None],[None],NaN,NaN,NaN
3,Please Join Us,کتاب لطفا به ما بپیوندید,NaN,NaN,280000.0,3.09,0,راه طلایی,2706,/publisher/2706-%d8%b1%d8%a7%d9%87-%d8%b7%d9%8...,...,لطفا به ما بپیوندید رمانی معمایی و هیجان انگیز...,"[ادبیات کانادا, داستان ماجرایی, داستان معمایی,...","[19, 21, 24, 103, 105, 182, 801]",[None],[None],[None],[None],NaN,NaN,NaN
4,Shahnamek,کتاب شاهنامک,ویژه کودکان و نوجوانان,20.0,200000.0,3.98,1,پازینه,1534,/publisher/1534-%d9%be%d8%a7%d8%b2%db%8c%d9%86...,...,دخترهای گلم و پسرهای نازنینم شاهنامک میخواد خی...,"[ادبیات اقتباسی, ادبیات داستانی, ادبیات معاصر,...","[20, 103, 105, 114, 207, 265, 437, 539]",[None],[None],[None],[None],NaN,NaN,NaN

## Finalizing

In [12]:
df_edited = df_edited.drop(['publisher_link', 'writer_link', 'link_translations'], axis= 1)
df_edited.to_csv('Final_Data.csv', index=False, encoding='utf-8-sig')